* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@font-face {
    font-family: 'Archivo';
    src: url('ArchivoBlack-Regular.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

#game-board {
    --grid-size: 2;
    --cell-size: calc(80vmin / var(--grid-size));
    --cell-gap: calc(10vmin / var(--grid-size));
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    gap: var(--cell-gap);
    padding: var(--cell-gap);
    border-radius: 1vmin;
    background-color: #404040;
}

.cell {
    background-color: #202020;
    border-radius: 1vmin;
    animation: 100ms;
}

.tile {
    --x: 0;
    --y: 0;
    --bg-color: #ffffff;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 1vmin;
    font-family: 'Archivo';
    font-size: calc(0.35 * var(--cell-size));
    background-color: var(--bg-color);
    color: #202020;
    transition: 100ms;
    animation: show 100ms;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}